name: Publish to PyPI & Deploy to github.io

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install dependencies
        run: uv pip install twine --system

      - name: Build Python package
        run: uv build

      - name: Check package validity
        run: twine check dist/*

      - name: Publish to PyPI
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: twine upload --repository pypi dist/* --username __token__ --password "$PYPI_API_TOKEN"

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install MkDocs
        run: pip install mkdocs mkdocs-material

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Sync docs with uv
        run: uv sync --no-group dev --group docs --active

      - name: Deploy mkdocs to GitHub Pages
        run: mkdocs gh-deploy --config-file ./mkdocs.yml --force
